.outer-container{
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.poster-container{
    flex: 2;
    background-color: blue;
}

.poster{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.login-container{
    flex: 5;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


.brand-container{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.brandLogo{
    width: 10rem;
    height: 10rem;
}

.brand-title{
    font-size: 4rem;
    font-weight: 800;
    color: #0B54FA;
}

.inner-container{
    background-color: white;
    border-radius: 2rem;
    width: 60rem;
    padding: 5rem;
    display: grid;
    grid-template-columns: 1fr 2px 1fr;
    gap: 2rem;
}

.normal-login-wrapper{
    padding: 2rem;
    grid-column: 1/2;
    display: flex;
    gap: 2rem;
    flex-direction: column; 
}

.form-divider{
    width: 100%;
    height: 100%;
    margin: auto auto;
    background-color: #eee;
    top: 15%;
}

.oauth-login-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.oauth-login-wrapper span{
    font-size: 2rem; 
    font-weight: 800;
}

.form-control{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-control label{
    font-size: 2rem;
    font-weight: 800;
}

.form-control input{
    padding: 1rem 2rem;
    background-color: #eee;
    font-size: 1.5rem;
    border: none;
    border-radius: 1rem;
}

.form-control input:focus{
    outline: none;
}

.inner-container button{
    width: fit-content;
    padding: 1rem 2rem;
    background-color: #0B54FA;
    color: white;
    border: none;
    font-size: 2rem; 
    border-radius: 0.5rem;
    cursor: pointer;
}

.other-options{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.other-options-text{
    color: #0B54FA;
    font-size: 1.5rem;
}

.other-options-btn{
    color: white;
    background-color: green;
    border-radius: 0.5rem; 
    width: fit-content;
    padding: 1rem 2rem;
    border: none;
    cursor: pointer;
}

.google{
    background-color: #049929 !important; 
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.submit-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.error{
    background-color: pink;
    color: red;
    font-size: 1.2rem;
    border: 1px solid red;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

@media (max-width: 1020px){
    .outer-container{
        flex-direction: column-reverse;
    } 
    .poster-container{
        height: 10rem;
        width: 100%;
        flex: 0;
    }
}

@media (max-width: 640px){
    .outer-container{
        flex-direction: column-reverse;
    } 
    .poster-container{
        height: 10rem;
        width: 100%;
        flex: 0;
    }
    .brand-container{
        justify-content: center;
    }
    .inner-container{
        padding: 2rem;
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2px;
    }
    .normal-login-wrapper{
        gap: 1.5rem;
        padding: 0;
    }
    .oauth-login-wrapper{
        flex-direction: row;
    }
    .login-form{
        width: 90%;
    }
}