.page{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #eee;
}

.header{
    font-size: 20rem;
    font-weight: 1000;
    margin: 5rem;
    text-shadow: 0.5rem 0.5rem red;
}

.desc{
    font-size: 2rem;
    color: #555;
    margin-bottom: 4rem;
}

.options{
    display: flex;
    justify-content: center; 
    gap: 10rem;
}

.go-back-btn,
.login-btn{
    width: 10rem; 
    height: 4rem;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 400;
    background-color: white;
    border: 1px solid #ccc; 
}