.section-card{
    margin-bottom: 2rem;
    background-color: white;
    border-radius: 2rem;
    padding: 2rem;
}

.section-top{
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    font-weight: 600;
}

.section-top-text{
    color: #333;
}

.section-top-link{
    color: #0B54FA;
    text-decoration: none;
} 

.section-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* For mini classes */
.section-card-mini{
    margin-bottom: 1rem;
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
}

.section-divider-mini{
    margin: 1rem -1rem !important; 
}

.section-top-mini{
    display: flex;
    gap: 2rem;
    font-size: 1.2rem;
    font-weight: 600;
}

.section-top-text-mini{
    color: #333;
}

.section-top-link-mini{
    color: #0B54FA;
    text-decoration: none;
} 

.section-container-mini{
    display: flex;
    gap: 2rem;
}
